{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'Chatbot/chatlist/css/style.css' %}" />
  <title>Chatlist</title>
</head>

<body>
  <!-- 상단 영역 -->
  <header class="header">
    <div class="logo">
      <span class=title>KY Emochat</span>
    </div>
    <ul class="icon">
      <li class="fab fa-weixin">
        <div class="consult hint">상담하기</div>
      </li>
      <li class="fas fa-chart-bar">
        <div class="analyze hint">분석하기</div>
      </li>
      <li class="fas fa-user-circle" id="info">
        <div class="user_info hint">정보</div>
        <!-- 유저프로필 창 -->
        <div class="user_info_box">
          <div class="username_area">
            <p class="username"></p>
          </div>
          <a class="logout_area">
            <div class="logout_icon">
              <i class="fas fa-power-off"></i>
            </div>
            <div class="logout_text">
              <span class="text">로그아웃</span>
            </div>
          </a>
        </div>
      </li>
    </ul>

  </header>

  <!-- 채팅창 리스트 영역 -->
  <section class="chatlist_area">
    <ul class="chatlist">
      <!-- 백엔드에서 받아오기 -->

    </ul>
  </section>

  <!-- 하단 영역 -->
  <section class="bottom"></section>
  <script>var iconSrc = "{% static 'Chatbot/chatlist/images/chatbot.ico' %}"</script>
  <script src="{% static 'Chatbot/chatlist/js/chatlist.js' %}"></script>
</body>

</html>