{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>EmoChatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'img/chatbot.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{% static 'img/chatbot.ico' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script language="javascript">
    function time(){
    var time= new Date(); //시간받기위해서 new date
        document.getElementById("now").innerHTML=time.getHours()+":"+time.getMinutes();
    }
  </script>

</head>

<body onload="time()">
  <section class="msger">
    <header class="msger-header">
      <i class="fas fa-chevron-left msger-header-prev"></i>
      <div class="msger-header-title">
        
      </div>
      <i class="fas fa-ellipsis-h msger-header-setting" onclick="setting_open()"></i>
    </header>

    <main class="msger-chat">

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>

    <div class="msger-setting"> 
      <div class="msger-setting-body">
        <hr class="msger-setting-line">
        <div class="setting-title">
          <h2>Settings</h2>
        </div>
        <div class="setting-time">
          <p class="time-title">시간</p>
          <div class="time-input">
            <div class="time-ampm">
              <p class="time-am selected">오전</p>
              <p class="time-pm">오후</p>
            </div>
            <select class="time-hhmm" name="times">
              <option value="00:00">12:00</option>
              <option value="00:30">12:30</option>
              <option value="01:00">01:00</option>
              <option value="01:30">01:30</option>
              <option value="02:00">02:00</option>
              <option value="02:30">02:30</option>
              <option value="03:00">03:00</option>
              <option value="03:30">03:30</option>
              <option value="04:00">04:00</option>
              <option value="04:30">04:30</option>
              <option value="05:00">05:00</option>
              <option value="05:30">05:30</option>
              <option value="06:00">06:00</option>
              <option value="06:30">06:30</option>
              <option value="07:00">07:00</option>
              <option value="07:30">07:30</option>
              <option value="08:00">08:00</option>
              <option value="08:30">08:30</option>
              <option value="09:00">09:00</option>
              <option value="09:30">09:30</option>
              <option value="10:00">10:00</option>
              <option value="10:30">10:30</option>
              <option value="11:00">11:00</option>
              <option value="11:30">11:30</option>
            </select>
          </div>
        </div>
        <div class="msger-setting-save" onclick="setting_notice_time()">저장</div>
      </div> 
    </div>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>

</html>
