:root {
  /* 색상 지정 */
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --base-bg : #3EA2FF;
  --light-bg : #7fd3ff;
  --dark-bg : #0074cb;
  --border: 2px solid #ddd;
  --border-light : 1px solid #e0e0e0;
  --grey-dark : #909090;
  --grey-deep : #424242;
  --grey-light : #e0e0e0; 
  --white-bg : #fff;

  /* 사이즈 지정 */
  --padding : 12px;
  --profile-size : 36px;

  /* 글자 크기 */
  --font-large : 18px;
  --font-medium : 14px;
  --font-small : 12px;
  --font-micro : 10px;

}

*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

button {
  border : 0;
  padding : 0;
}

a,
a:link, 
a:visited{
  text-decoration: none;
}
body {
  display : flex;
  flex-direction: column;
  font-family: Roboto;
  /* background-image: var(--body-bg); */
  /* height : 100%; */
}

ul {
  list-style : none;
}

.header {
  display : flex;
  justify-content: space-between;
  padding : var(--padding);
  background-color: var(--base-bg);
}

.logo {
  margin : auto 0;
}

.logo > .title {
  height : 100%;
  font-size : calc(var(--font-large));
  font-weight : bold;
  margin-left : calc(var(--padding)/2);
  color : #fff;
}

.icon {
  display : flex;
  margin : 0;
}

.icon > li:hover{
  background-color : var(--light-bg);
  border-radius: 4px;
  cursor : pointer;
}
.icon > li {
  position : relative;
}
.icon li .hint {
  visibility: hidden;
  position : absolute;
  color : var(--grey-light);
  background-color: var(--grey-deep);
  opacity : 0.8;
  margin : 5px 0;
  padding : 4px;
  border-radius: 2px;  
  text-align : center;
  font-weight : bold;
  font-size : var(--font-small);
  right : 0;
  width :max-content;
}

.icon li:hover .hint{
  visibility:visible;
}
.user_info_box{
  color : var(--grey-dark);
  box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.2);
}

.icon li .user_info_box{
  display : none;
  right : 0;
  position : absolute;
  margin : 5px 0;
  background-color: #fff;
  border : var(--border-light);
  font-display:block;
}
.icon li .user_info_box.active{
  display : block;
}

.user_info_box .username_area{
  border-bottom : var(--border-light);
  padding : var(--padding);
  cursor : default;
  width : max-content;
}


.user_info_box.active .username_area{
  cursor : default;
}

.icon li .user_info_box .logout_area{
  color : red;
}

.user_info_box .logout_area .logout_text{
  margin : auto 0;
  text-align: center;
  width : max-content;
}

.username_area{
  font-size: var(--font-medium);
}

.icon .logout_area {
  display : flex;
  padding : var(--padding);
  font-size: var(--font-medium);
}

.icon .logout_area:hover {
  background-color : var(--grey-light);
}

.fab,.fas{
  font-size : 24px;
  color : #fff;
  margin-right : var(--padding);
}

.logout_area .fas {
  color : red;
  font-size : 18px;

}

.logout_icon > .material-icons{
  color : red;
}

/* section */
.chatlist_area{
  /* display :flex; */
  /* margin : 0 auto; */
  
}
/* ul */
.chatlist {
  /* display :flex;
  flex-direction: column; */
  /* margin : 0 auto; */
  /* margin : 0 20%; */
}
/* li */
.room{
  
}
/* a */
.chatlist_link{
  display:flex;
  border-bottom : var(--border-light);
  /* margin : 0 auto; */
}
.chatlist_link:hover{
  background-color : var(--grey-light);
}

.chatlist_link:hover .date{
  color : var(--grey-dark);
}

@media screen and (min-width : 768px){
  .chatlist_area{
    margin : 0 20%;
  }
}

.thumbnail_wrap {
  margin : var(--padding);
  display : flex;
  align-items : center;
}

.thumbnail_wrap img{
  width : 40px;
  height : 40px;
  border-radius : 50%;
}

.text_wrap{
  display:flex;
  flex-direction : column;
  white-space: nowrap;
  width : 100%;
  margin : var(--padding);
}

.text_wrap .message {
  font-size : var(--font-medium);
  color : var(--grey-dark);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text_wrap .text_area {
  padding : calc(var(--padding)/2) 0;
}

.nameAndDate {
  display : flex;
  justify-content: space-between;
  padding-bottom : calc(var(--padding)/3);
}

.nameAndDate .name{
  font-weight : bold;
  font-size : var(--font-medium);
}

.nameAndDate .date{
  font-size : var(--font-medium);
  color : var(--grey-light);
}