<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../static/Login/changepassword/reset.css" rel="stylesheet">
    <link href="../static/Login/changepassword/changepassword.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class='logo'>
            <a href="/">EmoChatbot</a>
            {% comment %} <div class='login-title'>Login</div> {% endcomment %}
        </div>
        <section class="login-section">
            <div class="login-section-inside">
                <div class="input-section">
                    <h4>아이디</h4>
                    <input type="text" placeholder="ID" id="id">
                </div>
                <div class="input-section">
                    <h4>이메일</h4>
                    <input type="email" placeholder="Email" id="email">
                </div>
                <div class="input-section">
                    <h4>이전 비밀번호</h4>
                    <input type="password" placeholder="Password" id="old-ps">
                </div>                
                <div class="input-section">
                    <h4>새 비밀번호</h4>
                    <input type="password" placeholder="New Password" id="new-ps">
                </div>
                <div class="button-section">
                    <input type="button" id="btn-changepassword" value="비밀번호 변경">
                </div>
            </div>
        </section>
    </main>
    <script src="../static/Login/changepassword/event.js"></script>
</body>
</html>