<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% comment %} <link rel="stylesheet" href="./login.css">
    <link rel="stylesheet" href="./reset.css"> {% endcomment %}
    <link href="../static/Login/login/reset.css" rel="stylesheet">
    <link href="../static/Login/login/login.css" rel="stylesheet">
</head>
<body>
    {% comment %} <div class="nav">    
        <li><a href="/">EmoChatbot</a></li>        
    </div> {% endcomment %}
    <main>
        <div class='logo'>
            <a href="/">EmoChatbot</a>
            {% comment %} <div class='login-title'>Login</div> {% endcomment %}
        </div>
        <section class="login-section">
            <div class="login-section-inside">
                <div class="input-section">
                    <h4>아이디</h4>
                    <input type="text" placeholder="ID" id="id">
                </div>
                <div class="input-section">
                    <h4>비밀번호</h4>
                    <input type="password" placeholder="Password" id="ps">
                </div>
                <div class="button-section">
                    <input type="button" id="btn-login" value="로그인">
                    <input type="button" id="btn-signup" value="회원가입">
                    <input type="button" id="btn-getreissuedpassword" value="비밀번호 재발급">
                    /<input type="button" id="btn-changepassword" value="비밀번호 변경">
                </div>
            </div>
        </section>
    </main>
    <script src="../static/Login/login/event.js"></script>
</body>
</html>